* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --dz-theme: #9746fd;
    --dz-white: #ffffff;
    --dz-secondary: #7a7a7a;
    --dz-dark-pink: #cb3378;
    --dz-dark: #0000;
}

.theme-color {
    color: var(--dz-theme);
}

.dark-pink-color{
    color: var(--dz-dark-pink);
}

.theme-active {
    color: var(--dz-theme)
}

.bg-theme {
    background-color: var(--dz-theme);
}


/*++++++++++++++++++++++++++
 buttons
 +++++++++++++++++++++++++++*/
.btn-theme {
    font-weight: 600;
    color: var(--dz-white);
    padding-left: 10%;
    padding: 2% 5%;
    border-radius: 100px;
    background-color: var(--dz-theme);
}

.btn-theme:hover {
    font-weight: 600;
    color: var(--dz-theme);
    background-color: var(--dz-secondary);
}

.btn-light {
    font-weight: 600;
    color: var(--dz-theme);
    padding-left: 10%;
    border: none;
    padding: 2% 5%;
    border-radius: 100px;
    background-color: var(--dz-white);
}

.btn-light:hover {
    font-weight: 600;
    color: var(--dz-white);
    background-color: var(--dz-theme);
}

/*++++++++++++++++++++++++++
 Navbar 
 +++++++++++++++++++++++++++*/
.custom-navbar {
    background-color: rgba(35, 47, 61, 0.9);
}

/* +++++++++++++++++++++++++++
Banner 
+++++++++++++++++++++++++++*/
.section-banner-mode {
    background-image: url('../images/header-image.png');
    background-size: cover;
    position: relative;
    padding: 240px 0;
    background-repeat: no-repeat;
    text-align: center;
}

.section-banner-mode::before {
    content: '';
    background-color: #232f3d;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section-banner-mode::after {
    content: '';
    clip-path: polygon(0 100%, 0 76%, 50% 92%, 100% 75%, 100% 100%);
    opacity: 1;
    width: 100%;
    background-color: #fff;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 9;
}

.section-banner-mode .banner-content {
    color: #fff;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
}

.section-banner-mode .banner-content span {
    font-size: 23px;
    letter-spacing: 25px;
    font-weight: 700;
}

.section-banner-mode .banner-content h1 {
    font-size: 90px;
    font-weight: 900;
}

.section-banner-mode .banner-content p {
    font-size: 40px;
    font-weight: 300;
    text-transform: capitalize;
}

.section-banner-mode .mouse-pointer-btn {
    width: 40px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
}

/*+++++++++++++++++++++++++++ 
About Agency 
+++++++++++++++++++++++++++*/
.section-card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-card .lines {
    margin-top: 10px;
    content: '';
    width: 4px;
    height: 16px;
    border-radius: 26px;
    background-color: var(--dz-theme);
}

.section-card .section-card-heading {
    padding: 16px;
}

.section-card .section-card-heading p {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.section-card .section-card-heading h2 {
    font-weight: lighter;
    font-size: 40px;
}


/* +++++++++++++++++++++++++++
mockup and numbers of works 
+++++++++++++++++++++++++++*/
.section-mockup-mode {
    background-image: url('../images/geometric.jpeg');
    background-size: cover;
    position: relative;
    padding: 180px 0;
    background-repeat: no-repeat;
    text-align: center;
}

.section-mockup-mode::before {
    content: '';
    background-color: #232f3d;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section-mockup-mode::after {
    content: '';
    clip-path: polygon(0 100%, 0 76%, 50% 92%, 100% 75%, 100% 100%);
    opacity: 1;
    width: 100%;
    background-color: #fff;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 9;
}

.section-mockup-mode .mockup-content {
    padding: 0 100px;
}

.section-mockup-mode .mockup-content .row div .content {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    z-index: 9;
}

.section-mockup-mode .mockup-content .row div .content img {
    height: 50px;
    margin-bottom: 12px;
}

.section-mockup-mode .mockup-content .row div .content h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--dz-dark-pink);
    margin: 0;
}

.section-mockup-mode .mockup-content .row div .content p {
    font-size: 25px;
    font-weight: bold;
    color: var(--dz-white);
    margin: 0;
}

/* +++++++++++++++++++++++++++
Our Services 
+++++++++++++++++++++++++++*/
.section-card-hover {
    transition: box-shadow 0.5s;
}

.section-card .section-card-hover:hover {
    box-shadow: 0px 0px 39px -4px rgba(0, 0, 0, 0.20);
}

.section-card .card-icon-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--dz-theme);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
}

.section-card .card-icon-border .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dz-theme);
    border-radius: 100%;
    width: 90px;
    height: 90px;
}

.section-card .card-icon-border .card-icon img {
    height: 50px;
    width: 50px;
}

/* +++++++++++++++++++++++++++
Brilliant Vision
+++++++++++++++++++++++++++*/
.section-brilliant-vision {
    background-image: url('../images/geometric.jpeg');
    background-size: cover;
    position: relative;
    padding: 180px 0;
    background-repeat: no-repeat;
    text-align: center;
}

.section-brilliant-vision::before {
    content: '';
    background-color: #232f3d;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section-brilliant-vision::after {
    content: '';
    clip-path: polygon(0 100%, 0 76%, 50% 92%, 100% 75%, 100% 100%);
    opacity: 1;
    width: 100%;
    background-color: #fff;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 9;
}

.section-brilliant-vision div .section-brilliant-vision-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    z-index: 9;
}


.section-brilliant-vision div .section-brilliant-vision-content span {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
}


.section-brilliant-vision div .section-brilliant-vision-content p {
    text-align: center;
    padding: 0 28%;
    margin-top: 20px;
    font-size: 20px;
}

.section-brilliant-vision div .section-brilliant-vision-content .lines {
    margin-top: 10px;
    content: '';
    width: 4px;
    height: 16px;
    border-radius: 26px;
    z-index: 9;
    background-color: var(--dz-theme);
}

/* +++++++++++++++++++++++++++
Our Portfolio
+++++++++++++++++++++++++++*/
.portfolio-nav {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.portfolio-nav .filter-button {
    text-decoration: none;
    color: var(--dz-secondary);
}

.portfolio-nav .filter-button:hover {
    cursor: pointer;
    color: var(--dz-theme);
}

.portfolio-nav>.filter-button.active {
    font-weight: bold;
    color: var(--dz-theme);
}

/* +++++++++++++++++++++++++++
Our Testimonials
+++++++++++++++++++++++++++*/
.section-testimonial {
    background-image: url('../images/geometric.jpeg');
    background-size: cover;
    position: relative;
    padding: 100px 0;
    background-repeat: no-repeat;
    text-align: center;
}

.section-testimonial::before {
    content: '';
    background-color: #232f3d;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section-testimonial::after {
    content: '';
    clip-path: polygon(0 100%, 0 76%, 50% 92%, 100% 75%, 100% 100%);
    opacity: 1;
    width: 100%;
    background-color: #fff;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 9;
}

.section-testimonial div .section-testimonial-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    z-index: 9;
}

.section-testimonial div .section-testimonial-content img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
